* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Fontfabric-MullerBold;
  src: url(fonts/Fontfabric-MullerBold.otf);
 }

 h1 {
   font-family: Fontfabric-MullerBold;
 }

body {
  background-color: gray;
}

.App {
  background-color: #fcfcfc;
  max-width: 1000px;
  min-width:769px;
  /* width: 1000px; */
  margin: 0 auto;
  padding: 3px;
}

/* ----- Header section ----- */

.App-header {
  background-color: #1a1a1a;
  width: 100%;
  height: 55px;
  color: white;
  display: grid;
  padding: 0px 21px;
  grid-template: 1fr / 88% 1fr 1fr;
  align-items: center;
}

.LogoSvg {
  height: 40px;  
}

.basket {
  background-image: url(./icons/basket.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 17px;
  height: 17px;
  justify-self: center;
}

.itemsInTheBasket {
  height: 14px;
  width: 14px;
  background-color: #00b6ff;
  border-radius: 50%;
  font-size: 0.5rem;
  margin-top: -7px;
  margin-left: 11px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.headerMenu {
  background-image: url(./icons/menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  justify-self: center;
  transition: ease-in-out 0.3s;
}

.headerMenu:hover {
  cursor: pointer;
}

.headerMenuActive {
  background-image: url(./icons/close.svg);
}

.headerMenuList {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 319px;
  height: 0%;
  transition: ease-in-out 0.3s;
  background-color: #212121;
  position: absolute;
  right: 0;
  z-index: 2;
  list-style: none;
  overflow: hidden;
  color: rgb(211, 211, 211);
}

.headerMenuListActive {
  height: 501px;
}

.headerMenuListItem {
  width: 100%;
  height: 100%;
  border-bottom: #5e5e5e solid 1px;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.headerMenuListItem:hover {
  background-color: #00b6ff;
}

/* ----- Main section ----- */

.App-main {
  width: 100%;
  height: 438px;
  border-bottom: 1px solid rgba(131, 130, 130, 0.3);
  position: relative;
  display: grid;
  grid-template: 1fr / 52% 1fr;
}

.sliderSection {
  height: 100%;
  width: 100%;
  border-left: 1px solid rgba(131, 130, 130, 0.3);
  border-right: 1px solid rgba(131, 130, 130, 0.3);
}

.workSection {
  height: 438px;
  width: 100%;
  border-right: 1px solid rgba(131, 130, 130, 0.3);
  display: grid;
  grid-template: 55% 53px 1fr / 1fr;
}

.dataSection {
  height: 87%;
  width: 78%;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(2, 1fr);
  align-self: center;
  align-items: center;
  justify-content: left;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 36px;
  color: #5a5959;
}

.dataSection button {
  width: 45%;
  height: 30px;
  margin-left: -12px;
  margin-top: -8px;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #5a5959;
  color: #5a5959;
  cursor: pointer;
}

.dataSection button:focus {
  outline: none;
}

.dataSection button:hover {
  background-color: #dcdcdc;
}

.dataParagraph {
  font-size: 0.9rem;;
}

.infoSection {
  color: white;
  background-color: #00b6ff;
  display: grid;
}

.infoButton {
  height: 100%;
  width: 53px;
  align-self: start;
  grid-area: 1 / 1;
  background-color: #00abf0;
  border: none;
  cursor: pointer;
}

.infoButton:focus {
  outline: none;
}

.infoButton:hover {
  background-color: #059ce2;
}

.infoButton h3 {
  font-size: 1.6rem;
  font-family: serif;
  font-weight: normal;
  color: white
}

.infoText {
  height: 100%;
  width: 100%;
  align-self: center;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: 1 / 1;
}



.infoWindow {
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  padding: 20px;
}

.infoWindowHidden {
  display: none;
}

.infoWindowActive {
  display: initial;
}



.infoWindow p {
  height: 34px;
  width: 78%;
  font-size: 0.9rem;
  font-family: serif;
  margin-top: 34px;
  font-weight: bold;
  color: #757575;
}

.returnButton {
  font-family: monospace;
  font-size: 1rem;
  color: #9e9fa0d6;
  background-color: transparent;
  border: none;
}

.returnButton:focus {
  outline: none;
}

.returnButton:hover {
  color: #676768d6;
}

.lightsConstructorSection {
  height: 50%;
  width: 72%;
  align-self: center;
  justify-self: center;
  display: grid;
  align-items: center;
  grid-template: 1fr / repeat(3, 1fr);
}

.lightsTypes {
  width: 80%;
  height: 88%;
  border-radius: 5px;
  background-image: url('./pictures/light.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  transition: ease-in-out 0.3s;
}

.lightsTypes:hover {
  height: 98%;
  width: 92%;
}

.lightsTypesName {
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(14, 14, 14, 0.5);
  display: grid;
  justify-items: center;
  align-items: center;
}

.lightsTypesName p {
  color: white;
  font-size: 0.8rem;
}

.lightsTypesCheckbox {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #00abf0;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.lightsTypesCheckboxHidden {
  display: none;
}

.lightsTypesCheckbox p {
  color: white;
  font-family: monospace;
}

.sliderSection {
  display: grid;
  justify-items: center;
  height: 438px;
}

.sliderWrapper {
  width: 90%;
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  overflow: hidden;
}

.slider {
  width: 300%;
}

/* .slider img {
  width: 33.3%;
  border-radius: 5px;
} */

/* .slider img:hover {
  transform: translateX(20%);
} */

.imageWrapper {
  height: 100%;
  width: 33.3%;
}

.imageWrapper img {
  width: 100%;
  border-radius: 5px;
}

.sliderNavWrapper {
  z-index: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 63%;
  width: 100%;
  height: 100%;
}

.sliderNav {
  width: 75px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sliderNavDefault {
  width: 9px;
  height: 9px;
  border: 2px solid white;
  border-radius: 3px;
}

.sliderNav p:hover {
  cursor: pointer;
}

.sliderNavActive {
  background-color: white;
}


/* ----- Footer section ----- */

.App-footer {
  width: 100%;
  height: 63px;
}

.footerList {
  list-style: none;
  margin: 0 auto;
  width: 94%;
  height: 100%;
  display: grid;
  grid-template: 1fr / repeat(8, 1fr);
  justify-items: center;
  align-items: center;
}

.footerListItem {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  border-right: 1px solid rgba(131, 130, 130, 0.3);
  color: black;
}

.footerListItem:first-child {
  border-left: 1px solid rgba(131, 130, 130, 0.3);
}

.footerListItem {
  border-bottom: 3px solid #ff8182;
  cursor: pointer;
}

.footerListItemSelected{
  border-bottom: 3px solid #00b6ff;
}

.footerListItemActive {
  color: white;
  background-color: #00b6ff;
}

.footerListItem p {
  width: 70%;
  text-align: center;
  line-height: 0.9rem;
}
