* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Fontfabric-MullerBold;
  src: url(fonts/Fontfabric-MullerBold.otf);
 }

 @keyframes Opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin full-size {
  height: 100%;
  width: 100%;
}

@mixin center-position {
  display: grid;
  align-items: center;
  justify-items: center;
}

@mixin cover-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*-----Variables-----*/

 $blue: #00b6ff;
 $middle-blue: #00abf0;
 $deep-blue: #059ce2;
 $red: #ff8182;
 $header-menu-font-dark: #5a5959;
 $header-menu-font-light: #d3d3d3;
 $general-border: 1px solid rgba(131, 130, 130, 0.3);
 $transition: ease-in-out 0.3s;
 $border-small: 3px;
 $border-big: 5px;
 $app-height: 438px;
 $font-small: 0.8rem;
 $font-middle: 0.9rem;

 h1 {
   font-family: Fontfabric-MullerBold;
 }

body {
  background-color: gray;
}

.App {
  background-color: #fcfcfc;
  max-width: 1000px;
  min-width:769px;
  /* width: 1000px; */
  margin: 0 auto;
  padding: 3px;
}

/* ----- Header section ----- */

.App-header {
  background-color: #1a1a1a;
  width: 100%;
  height: 55px;
  color: white;
  display: grid;
  padding: 0px 21px;
  grid-template: 1fr / 88% 1fr 1fr;
  align-items: center;
}

.LogoSvg {
  height: 40px;  
}

.basket-item {
  background-image: url(./icons/basket.svg);
  @include cover-background-image;
  width: 17px;
  height: 17px;
  justify-self: center;
}

.itemsInTheBasket {
  height: 14px;
  width: 14px;
  background-color: $blue;
  border-radius: 50%;
  font-size: 0.5rem;
  margin-top: -7px;
  margin-left: 11px;
  @include center-position;
}

.headerMenu {
  background-image: url(./icons/menu.svg);
  @include cover-background-image;
  width: 24px;
  height: 24px;
  justify-self: center;
  transition: $transition;
  cursor: pointer;
}

.headerMenuActive {
  background-image: url(./icons/close.svg);
}

.headerMenuList {
  @include center-position;
  width: 319px;
  height: 0%;
  transition: $transition;
  background-color: #212121;
  position: absolute;
  right: 0;
  z-index: 1;
  list-style: none;
  overflow: hidden;
  color: $header-menu-font-light;
}

.headerMenuListActive {
  height: 501px;
}

.headerMenuListItem {
  @include full-size;
  border-bottom: $general-border;
  @include center-position;
  cursor: pointer;
  &:hover {
    background-color: $blue;
  }
}

/* ----- Main section ----- */

.App-main {
  width: 100%;
  height: $app-height;
  border-bottom: $general-border;
  position: relative;
}

.constructorItem {
  animation: Opacity $transition;
  position: absolute;
  display: grid;
  grid-template: 1fr / 52% 1fr;
}

.sliderSection {
  @include full-size;
  border-left: $general-border;
  border-right: $general-border;
}

.workSection {
  height: $app-height;
  width: 100%;
  border-right: $general-border;
  display: grid;
  grid-template: 55% 53px 1fr / 1fr;
}

.dataSection {
  height: 87%;
  width: 78%;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(2, 1fr);
  align-self: center;
  align-items: center;
  justify-content: left;
  font-size: $font-small;
  font-weight: bold;
  margin-left: 36px;
  color: $header-menu-font-dark;
  button {
    width: 45%;
    height: 30px;
    margin-left: -12px;
    margin-top: -8px;
    border: none;
    border-radius: $border-small;
    box-shadow: 2px 2px 2px $header-menu-font-dark;
    color: $header-menu-font-dark;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $blue;
      color: white
    }
  }
}

.dataParagraph {
  font-size: $font-middle;;
}

.infoSection {
  color: white;
  background-color: $blue;
  display: grid;
}

.infoButton {
  height: 100%;
  width: 53px;
  align-self: start;
  grid-area: 1 / 1;
  background-color: $middle-blue;
  border: none;
  cursor: pointer;
  h3 {
    font-size: 1.6rem;
    font-family: serif;
    font-weight: normal;
    color: white 
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $deep-blue;
  }
}

.infoText {
  @include full-size;
  align-self: center;
  grid-area: 1 / 1;
  @include center-position;
}

.infoWindow {
  background-color: white;
  @include full-size;
  z-index: 1;
  position: absolute;
  padding: 20px;
  p {
    height: 34px;
    width: 78%;
    font-size: $font-middle;
    font-family: serif;
    margin-top: 34px;
    font-weight: bold;
    color: $header-menu-font-dark;
  }
}

.returnButton {
  font-family: monospace;
  font-size: 1rem;
  color: $header-menu-font-dark;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $header-menu-font-light;
  }
}

.lightsConstructorSection {
  height: 50%;
  width: 72%;
  align-self: center;
  justify-self: center;
  display: grid;
  align-items: center;
  grid-template: 1fr / repeat(3, 1fr);
}

.lightsTypes {
  width: 80%;
  height: 88%;
  border-radius: $border-big;
  background-image: url('./pictures/light.jpg');
  @include cover-background-image;
  position: relative;
  overflow: hidden;
  transition: $transition;
  &:hover {
    height: 98%;
    width: 92%;
  }
}

.lightsTypesName {
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(14, 14, 14, 0.5);
  @include center-position;
  p {
    color: white;
    font-size: $font-small;
  }
}

.lightsTypesCheckbox {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: $middle-blue;
  width: 18px;
  height: 18px;
  border-radius: $border-small;
  @include center-position;
  p {
    color: white;
    font-family: monospace;
  }
}

.sliderSection {
  display: grid;
  justify-items: center;
  height: $app-height;
}

.sliderWrapper {
  width: 90%;
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  overflow: hidden;
}

.slider {
  width: 300%;
}

.imageWrapper {
  height: 100%;
  width: 33.3%;
  img {
    width: 100%;
    border-radius: $border-big;
  }
}

.sliderNavWrapper {
  z-index: 1;
  @include center-position;
  grid-area: 1 / 1 / 2 / 2;
  padding-top: 63%;
  @include full-size;
}

.sliderNav {
  width: 75px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p:hover {
    cursor: pointer;
  }
}

.sliderNavDefault {
  width: 9px;
  height: 9px;
  border: 2px solid white;
  border-radius: $border-small;
}

.sliderNavActive {
  background-color: white;
}


/* ----- Footer section ----- */

.App-footer {
  width: 100%;
  height: 63px;
}

.footerList {
  list-style: none;
  margin: 0 auto;
  width: 94%;
  height: 100%;
  @include center-position;
  grid-template: 1fr / repeat(8, 1fr);
}

.footerListItem {
  @include full-size;
  @include center-position;
  border-right: $general-border;
  border-bottom: $border-small solid $red;
  cursor: pointer;
  color: black;
  p {
    width: 70%;
    text-align: center;
    line-height: 0.9rem;
  }
  &:hover {
    background-color: $blue;
    color: white;
  }
  &:first-child {
    border-left: $general-border;
  }
}

.footerListItemSelected{
  border-bottom: $border-small solid $middle-blue;
}

.footerListItemActive {
  color: white;
  background-color: $middle-blue;
}

.hidden {
  display: none;
}

.active {
  display: initial;
}
